<div class="banner bg-blue">
	<div class="centered">

		<div ng-show="!initialized">
			<input type="text" class="sm-input" ng-model="masterCode" placeholder="Spymaster Code">
			<a class="sm-play bg-red" ng-click="loadGame()">Play</a>
		</div>

		<div class="alert" ng-if="error">{{ error }}</div>

		<div class="master-card" ng-show="master.rows.length > 0">
			<h3>TOP</h3>
			<div class="dot-row" ng-repeat="row in master.rows">
				<div ng-repeat="card in row" class="master-dot bg-{{ card.team }}"></div>
			</div>
		</div>

		<div ng-show="initialized" class="sm-play bg-red" ng-click="newGame()">New Game</div>
	</div>
</div>